@charset "utf-8";
.s__accordion01-wrap{
border-top: 1px solid var(--border);
}
.s__accordion01-title > a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    border-bottom: 1px solid var(--border);
}
.s__accordion01-title > a > img {
    width: 24px;
    transition: all 0.3s;
}
.s__accordion01-contents{
    max-height: 0;
    height: auto;
    overflow: hidden;
    transition: max-height 0.3s;
}
.active-on .s__accordion01-contents{
    border-bottom: 1px solid var(--border);
    /* max-height는 가변적 */
    max-height: 200px;
}
.active-on .s__accordion01-title > a > img{
    transform: rotate(180deg);
}
.s__accordion01-contents > div {
    padding: 16px;
}
/* PC (해상도 1024px)*/ 
@media all and (min-width:1024px) {
    
} 
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/ 
@media all and (max-width:1023px) {

} 
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {

}
