@charset "utf-8";
.s__input {
  padding: 12px 18px;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  font-size: 16px;
  min-height: 50px;
  width: 100%;
}
.s__input-small{
    padding: 6px 14px;
    font-size: 14px;
    min-height: 36px;
}
/* select */
.s__select {
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
  appearance: none;
  background: url("../image/icon_down_arrow.svg") no-repeat 97% 50%/18px auto;
  background-color: #fff;
  width: 100%;
  padding: 12px 18px;
  border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  font-size: 16px;
  min-height: 50px;
}
.s__select::-ms-expand {
  display: none; /*for IE10,11*/
}

.s__select-up{
  position: relative;
  display: block;
}
.s__select-up button {
  width: 100%;
  padding: 12px 18px;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  font-size: 16px;
  min-height: 50px;
  background: url("../image/icon_down_arrow.svg") no-repeat 97% 50%/18px auto;
  background-color: #fff;
  cursor: pointer;
  text-align: left;
}
.dropdown-content {
  display: none;
  position: absolute;
  left: 0;
  top: auto;
  bottom: 100%;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: auto;
}
.dropdown-content a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  color: black;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}
.dropdown-content a:hover{
  background-color: var(--background);
}
.s__select-up.is-open button {
  background-color: var(--background);
}
.s__select-up.is-open .dropdown-content {
  display: block;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.phone-wrap {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}
.s__checkbox-wrap,
.s__radio-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.s__checkbox,
.s__radio {
  display: flex;
  align-items: center;
}
.s__checkbox + .s__checkbox,
.s__radio + .s__radio {
  margin-left: 16px;
}
.s__checkbox input{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0 none;
}
.s__checkbox input:focus-visible ~ label{
  outline: 2px solid var(--black);
  height: 28px;
}
.s__checkbox input + label {
  height: 24px;
  display: block;
  background: url(../image/icon_checkbox_off.svg) no-repeat;
  background-size: contain;
  cursor: pointer;
  font-size: 16px;
  padding-left: 32px;
  border-radius: 4px;
}
.s__checkbox input:disabled + label {
  background: url(../image/icon_checkbox_off_disabled.svg) no-repeat;
  background-size: contain;
}
.s__checkbox input:checked + label {
  background: url(../image/icon_checkbox_on.svg) no-repeat;
  background-size: contain;
}
.s__checkbox input:checked:disabled + label {
  background: url(../image/icon_checkbox_on_disabled.svg) no-repeat;
  background-size: contain;
}

.s__radio input{
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0 none;
}
.s__radio input:focus-visible ~ label{
  outline: 2px solid var(--black);
  height: 28px;
}
.s__radio input + label {
  height: 24px;
  display: block;
  background: url(../image/icon_radio_off.svg) no-repeat;
  background-size: contain;
  cursor: pointer;
  font-size: 16px;
  padding-left: 32px;
  border-radius: 4px;
}
.s__radio input:disabled + label {
  background: url(../image/icon_radio_off_disabled.svg) no-repeat;
  background-size: contain;
}
.s__radio input:checked + label {
  background: url(../image/icon_radio_on.svg) no-repeat;
  background-size: contain;
}
.s__radio input:checked:disabled + label {
  background: url(../image/icon_radio_on_disabled.svg) no-repeat;
  background-size: contain;
}
/* 데이트피커 */
.s__date, .s__date-range{
    background: url(../image/icon_date.svg) no-repeat 97% 50%/18px auto;
}

/* 드래그앤드롭 텍스트 */
.s__drag-multi-file-wrap{
  border: 2px dotted var(--border);
  padding: 16px;
  min-height: 150px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.s__drag-multi-file-info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  width: 100%;
}
.s__drag-multi-file-wrap.is-active .s__drag-multi-file-info{
  display: none;
}
.s__drag-multi-file-info img{
  width: 40px;
  height: 40px;
  opacity: 0.5;
}
.s__drag-multi-file-info p {
  color: #bababa;
}
.s__drag-file-list li{
  display: flex;
  align-items: center;
  border: 1px solid var(--border);
  position: relative;
  height: 48px;
  margin: 6px 5px 6px 0;
  padding: 0 24px;
  border-radius: 24px;
  max-width: 100%;
  background-color: #fff;
}
.s__drag-multi-file-wrap .s__file-list-wrap{
  width: 100%;
}
.s__drag-file-list{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}
/* 드래그앤드롭 이미지 */
.s__drag-multi-img-file-wrap {
  border: 2px dotted var(--border);
  padding: 16px;
  min-height: 150px;
  border-radius: 8px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}
.s__drag-multi-file-info{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px;
  width: 100%;
}
.s__drag-multi-img-file-wrap.is-active .s__drag-multi-file-info{
  display: none;
}
.file-get-list-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.s__drag-multi-file-info img{
  width: 40px;
  height: 40px;
  opacity: 0.5;
}
.s__drag-multi-file-info p {
  color: #bababa;
}
.s__drag-img-file-list{
  display: flex;
}
.s__drag-img-file-list li{
  border: 1px solid var(--border);
  margin: 6px 5px 6px 0;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.remove_button {
  width: 20px;
  height: 20px;
  position: relative;
}
.s__drag-img-file-list li button {
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: var(--black);
  border-radius: 10px;
}

/* 싱글파일 */
.s__singlefile-wrap {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.s__singlefile-list {
  width: calc(100% - 88px);
}
.s__singlefile-wrap .file-get-list-name {
  background-color: var(--background);

  display: flex;
  align-items: center;
  padding: 8px 16px;
  margin-left: 8px;
  width: 100%;
  height: 42px;
  border-radius: 4px;
  border: 1px solid var(--border);
}
/* 멀티파일 */
.s__file-list {
  display: flex;
  flex-wrap: wrap;
}
.s__file-list > li {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  position: relative;
  height: 48px;
  margin: 6px 5px;
  padding: 0 24px;
  border-radius: 24px;
}
.file-get-list-name {
  font-size: 14px;
  font-weight: 400;
  color: #222;
  line-height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
  margin-right: 12px;
  letter-spacing: -0.56px;
}
.remove_button span {
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -9999px;
}
.remove_button::before,
.remove_button::after {
  width: 14px;
  height: 2px;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  background: #ccc;
  border-radius: 2px;
}
.remove_button::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.remove_button::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.remove_button {
  width: 20px;
  height: 20px;
  position: relative;
}
/* 멀티이미지파일 미리보기 */
.s__img-file-list{
  display: flex;
}
.s__img-file-list li{
  border: 1px solid var(--border);
  margin: 6px 5px 6px 0;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
}
.file-get-list-img{
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.s__img-file-list li button{
  position: absolute;
  right: 4px;
  top: 4px;
  background-color: var(--black);
  border-radius: 10px;
}
.s__img-file-list .remove_button::before, .s__img-file-list .remove_button::after{
  background-color: #fff;
  width: 12px;
}
/* 이미지파일 미리보기 */
.s__img-file-btn{
  border: 1px solid var(--border);
  border-radius: 100px;
  width: 120px;
  height: 120px;
  position: relative;
  background-color: var(--white);
}
.s__img-file-btn label{
  display: block;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background: url('/공통코드/image/icon_add_photo.svg') no-repeat 50% 50%;
  z-index: 1;
  bottom: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid var(--border);
  cursor: pointer;
  text-indent: -9999px;
  overflow: hidden;
}
.s__img-file-btn input:focus-visible + label {
  outline: 2px solid var(--black);
}
.s__img-file-btn img{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 100px;
  object-fit: cover;
}
.s__imgfile-wrap .s__imgfile-list img{
  width: 100px;
  height: 100px;
  margin-top: 16px;
  border-radius: 8px;
}
/* 멀티이미지파일 미리보기 */


/* 텍스트에어리어 */
.s__textarea {
  padding: 12px 18px;
  border-radius: 5px;
  border: 1px solid #c2c2c2;
  font-size: 16px;
  min-height: 50px;
  width: 100%;
  resize: none;
  box-sizing: border-box;
}
.use__application__textarea__addinfo {
  display: flex;
  justify-content: space-between;
}
.use__application__textarea__addinfo li {
  font-size: 16px;
}
.textarea__text__check {
  font-size: 16px;
  font-weight: 400;
  color: #666;
  line-height: 19px;
  margin-top: 8px;
  text-align: right;
}
/* 파일 버튼 */
.s__btn {
  margin: 2px;
  font-size: 16px;
  padding: 6px 20px 4px;
  border-radius: 4px;
  transition: filter 0.3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}
.s__btn:hover {
  filter: brightness(0.9);
}
.s__btn-line {
  border: 1px solid var(--border);
}
.s__btn-line:hover {
  background-color: #fefefe;
}
.s__file-wrap input[type="file"]:focus-visible ~ .s__btn{
  outline: 2px solid var(--black);
}
.s__file-wrap input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0 none;
}
/* 토글스위치 */
.s__switch input[type="checkbox"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0 none;
}
.s__switch input[type="checkbox"]:focus-visible ~ .toggleSwitch{
  outline: 2px solid var(--black);
}
.toggleSwitch {
    width: 46px;
    height: 24px;
    display: block;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    border: 1px solid var(--border);
    cursor: pointer;
  }
  
  .toggleSwitch .toggleButton {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: var(--black);
  }
  
  #toggle:checked ~ .toggleSwitch {
    background: var(--main);
  }
  
  #toggle:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 19px);
    background: #fff;
  }
  
  .toggleSwitch, .toggleButton {
    transition: all 0.2s ease-in;
  }
/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (max-width: 1023px) {
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
}
