<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>titile</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div id="skipnavi">
		<a href="#container" class="skip skip_menu">본문 바로가기</a>
		<a href="#gnb" class="skip">주메뉴 바로가기</a>
	</div>
    <table>
        <tr>
            <td rowspan="2">1</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
        </tr>
    </table>
    <script src="../js/main.js"></script>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>

let secondTr = $("table tr:eq(1)"); // 두 번째 <tr> 선택

secondTr.find('td').each(function () {
    let currentTd = $(this);
    let columnIndex = currentTd.index(); // 현재 <td>의 열(column) 인덱스 가져오기
    console.log('현재 <td>의 열(column) 인덱스: ' + columnIndex);
});
    </script>
</body>
</html>