@charset "utf-8";

/* swiper */
.swiper {
  width: 100%;
  height: 100vh;
}
.swiper-slide01 {
  background-color: #a7a7a7;
}
.swiper-slide02 {
  background-color: #828282;
}
.swiper-slide03 {
  background-color: #5b5b5b;
}
.swiper-slide .s__container{
  height: 100%;
}
.swiper-slide .s__row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.swiper-button-prev:after, .swiper-button-next:after{
  content: '';
  width: 40px;
  height: 40px;
}
.swiper-button-prev:after{
  background: url(../image/icon_left_arrow_w.svg) no-repeat;
  background-size: contain;
}
.swiper-button-next:after{
  background: url(../image/icon_right_arrow_w.svg) no-repeat;
  background-size: contain;
}
.autoplay-play-stop{
    position: absolute;
    right: -33px;
    bottom: 22px;
}
.autoplay-play-stop .autoplay-play{
  display: none;
}
.autoplay-play-stop.stop .autoplay-play{
  display: block;
}
.autoplay-play-stop.stop .autoplay-stop{
  display: none;
}
.swiper-pagination-bullet-active{
  background-color: #fff;
}
.swiper-pagination-bullet{
  width: 80px;
  border-radius: 0;
  height: 3px;
}
.visual-sec .all-box {
	position: absolute;
	display: inline-flex;
	width: 90%;
	height: 50px;
	left: 50%;
	bottom: 10px;
	box-sizing: border-box;
	padding: 0 20px;
	transform: translate(-50%, -50%);
	z-index: 20;
}
.visual-sec .progress-box {
	position: relative;
	width: 170px;
	height: 50px;
	z-index: 11;
}
.visual-sec .all-box {
  position: absolute;
  display: inline-flex;
  width: 90%;
  height: 50px;
  left: 50%;
  bottom: 10px;
  box-sizing: border-box;
  padding: 0 20px;
  transform: translate(-50%, -50%);
  z-index: 20;
}
.autoplay-progress {
	position: absolute;
	left: 30px;
	top: 10px;
	z-index: 10;
	width: 100px;
	height: 3px;
	background-color: rgba(0, 0, 0, 0.1);
}
.autoplay-progress svg {
	--progress: 0;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	width: 100%;
	stroke-width: 4px;
	stroke: #fff;
	fill: none;
	stroke-dashoffset: calc(100 * (1 - var(--progress)));
	stroke-dasharray: 100;
}
.visual-sec .swiper-pagination {
  display: flex;
  color: #fff;
  justify-content: space-between;
  position: static;
  text-align: left;
}
.visual-sec .arrow-box {
  position: relative;
  width: 80px;
  height: 50px;
}
.visual-sec .swiper-button-next,
.visual-sec .swiper-button-prev {
  width: 21px;
  height: 21px;
  top: 0;
  margin-top: 0;
}
@media (max-width: 768px) {
  .autoplay-progress{
    bottom: 35px;
  }
}
/* swiper 끝 */