@charset "utf-8";
.popup-slider.active-on {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
}
.popup-slider {
    display: none;
}
.popup-slider .swiper{
    width: 60%;
}
.popup-slider-close-btn{
    position: absolute;
    right: 16px;
    top: 16px;
}
.popup-slider-close-btn img {
    width: 48px;
}
.popup-slider .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
      max-height: 80vh;
    overflow: auto;
}
.popup-slider .swiper-slide img {
    object-fit: contain;
}
.popup-slider .swiper-slide .s__container {
  height: 100%;
}
.popup-slider .swiper-slide .s__row {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.popup-slider .swiper-button-prev:after,
.swiper-button-next:after {
  content: "";
  width: 40px;
  height: 40px;
}
.popup_slider-btn-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.popup_slider-btn-wrap button + button{
    margin-left: 8px;
}
.popup_slider-btn-wrap button {
    padding: 12px 24px;
    font-weight: 600;
    border-radius: 32px;
    background-color: #fff;
    font-size: 16px;
}
.popup_slider-btn-wrap button.today-display-none{
    background-color: #3c3c3c;
    color: #fff;
}
.popup-slider .swiper-button-prev:after {
  background: url(../image/icon_left_arrow_w.svg) no-repeat;
  background-size: contain;
}
.popup-slider .swiper-button-next:after {
  background: url(../image/icon_right_arrow_w.svg) no-repeat;
  background-size: contain;
}
.popup-slider .swiper-pagination-bullet-active {
  background-color: #fff;
}
.popup-slider .swiper-pagination-bullet {
  width: 80px;
  border-radius: 0;
  height: 3px;
}

/* PC (해상도 1024px)*/
@media all and (min-width: 1024px) {
}
/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (max-width: 1023px) {
}
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/
@media all and (max-width: 767px) {
    .popup-slider .swiper{
        width: 80%;
    }
}
