<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>codebox</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/prism.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div id="skipnavi">
		<a href="#container" class="skip skip_menu">본문 바로가기</a>
		<a href="#gnb" class="skip">주메뉴 바로가기</a>
	</div>
    <section>
        <pre class="line-numbers"><code class="language-javascript">const name = 1</code></pre>
        <pre class="line-numbers"><code class="language-html"> &#60;p  class="hey"&#62; Example &#60;/p&#62;
            &#60;div&#62; Example two &#60;/div&#62;</code></pre>
    </section>
    <script src="../js/prism.js"></script>
    <script src="../js/main.js"></script>
</body>
</html>