<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sidebar</title>
    <link rel="stylesheet" href="/공통코드/css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="s__sidebar-wrap">
        <div class="s__sidebar is-open">
            <button class="s__sidebar-open-btn"><img src="/공통코드/image/icon_menu.svg" alt="사이드바 열기/닫기"></button>
            <ul class="s__sidebar-contents">
                <li>
                    <a href="#!" class="side-menu__step1"><img src="/공통코드/image/icon_home.svg" alt=""><span>메뉴1</span></a>
                    <ul>
                        <li><a href="#!">메뉴2</a></li>
                        <li><a href="#!">메뉴2</a></li>
                        <li><a href="#!">메뉴2</a></li>
                        <li><a href="#!">메뉴2</a></li>
                        <li><a href="#!">메뉴2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#!" class="side-menu__step1"><img src="/공통코드/image/icon_date.svg" alt=""><span>메뉴1</span></a>
                    <ul>
                        <li><a href="#!">메뉴2</a></li>
                        <li><a href="#!">메뉴2</a></li>
                        <li><a href="#!">메뉴2</a></li>
                        <li><a href="#!">메뉴2</a></li>
                        <li><a href="#!">메뉴2</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#!" class="side-menu__step1"><img src="/공통코드/image/icon_top_arrow.svg" alt=""><span>메뉴1</span></a>
                </li>
                <li>
                    <a href="#!" class="side-menu__step1"><img src="/공통코드/image/icon_search.svg" alt=""><span>메뉴1</span></a>
                </li>
                <li>
                    <a href="#!" class="side-menu__step1"><img src="/공통코드/image/icon_share.svg" alt=""><span>메뉴1</span></a>
                </li>
            </ul>
        </div>
        <div class="s__sidebar-right">
            <div class="s__row">
                <a class="side-next" href="#!">오른쪽내용</a>
            </div>
        </div>
    </div>
    <script src="../js/main.js"></script>
</body>

</html>