<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>input</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/input.css">
</head>
<body>
    <div style="width: 500px;">
        <p>셀렉트</p>
        <select name="" id="">
            <option value="">옵션</option>
            <option value="">옵션</option>
            <option value="">옵션</option>
            <option value="">옵션</option>
        </select>
        <p>텍스트</p>
        <input type="text" class="s__input s__text" placeholder="작성해주세요.">
        <p>숫자</p>
        <input type="number" class="s__input s__number" placeholder="작성해주세요.">
        <p>파일</p>
        <div>
            <input type="file" class="s__file" id="btnFile">
            <label for="btnFile">업로드</label>
        </div>
        <p>멀티파일</p>
        <input type="file" class="s__multi-file">
        <p>전화번호</p>
        <div>
            <select name="" id="">
                <option value="">010</option>
                <option value="">011</option>
            </select>
            <p>-</p>
            <input type="number" maxlength="4">
            <p>-</p>
            <input type="number" maxlength="4">
        </div>
        <p>날짜</p>
        <input type="date" class="s__input s__date">
        <p>날짜 레인지</p>
        <div>
            <input type="date" class="s__input s__date">
            <p>~</p>
            <input type="date" class="s__input s__date">
        </div>
        <p>체크박스</p>
        <div class="s__checkbox-wrap">
            <div class="s__checkbox">
                <input type="checkbox" class="" id="ch01_01">
                <label for="ch01_01"></label>
                <label for="ch01_01">checkbox</label>
            </div>
            <div class="s__checkbox">
                <input type="checkbox" class="" id="ch01_02">
                <label for="ch01_02"></label>
                <label for="ch01_02">checkbox</label>
            </div>
        </div>
        <p>라디오</p>
        <div class="s__radio-wrap">
            <div class="s__radio">
                <input type="radio" class="" nam  id="ra01_01">
                <label for="ra01_01"></label>
                <label for="ra01_01">radio</label>
            </div>
            <div class="s__checkbox">
                <input type="radio" class="" id="ra01_02">
                <label for="ra01_02"></label>
                <label for="ra01_02">radio</label>
            </div>
        </div>
        <p>스위치</p>
        <div class="s__switch">

        </div>

    </div>
    <script src="../js/main.js"></script>
</body>
</html>