<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <link rel="stylesheet" href="/공통코드/css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="s__container">
        <div class="s__row">
            <div style="height: 400px;"></div>
            <p style="text-align: center; font-size: 24px;">Please scroll down 🖱️</p>
            <div style="height: 400px;"></div>
            <div class="s__animation fade-in">
                <p style="text-align: center; font-size: 24px;">fade-in 💨</p>
            </div>
            <div style="height: 200px;"></div>
            <div class="s__animation view-left">
                <p style="text-align: center; font-size: 24px;">view-left ➡️</p>
            </div>
            <div style="height: 200px;"></div>
            <div class="s__animation view-right">
                <p style="text-align: center; font-size: 24px;">view-right ⬅️</p>
            </div>
            <div style="height: 200px;"></div>
            <div class="s__animation view-bottom">
                <p style="text-align: center; font-size: 24px;">view-bottom ⬆️</p>
            </div>
            <div style="height: 200px;"></div>
            <div class="s__animation view-top">
                <p style="text-align: center; font-size: 24px;">view-top ⬇️</p>
            </div>
            <div style="height: 200px;"></div>
            <div class="s__animation zoom-in">
                <p style="text-align: center; font-size: 24px;">zoom-in 🔍</p>
            </div>
            <div style="height: 200px;"></div>
            <div class="s__animation bounce-in">
                <p style="text-align: center; font-size: 24px;">bounce-in 🏀</p>
            </div>
            <div style="height: 200px;"></div>
        </div>
    </div>
    <script src="../js/main.js"></script>
</body>

</html>