<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>button</title>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div class="s__container">
        <div class="s__row">
            <div class="s__btn-center-wrap s__btn-wrap">
                <button class="s__btn s__btn-main"><img class="s__btn-img-left" src="../image/icon_home_w.svg" alt="">앞아이콘</button>
                <button class="s__btn s__btn-main">뒤아이콘<img class="s__btn-img-right" src="../image/icon_blog_w.svg" alt=""></button>
                <a href="#" class="s__btn s__btn-main">a태그</a>
            </div>
            <p>사이즈</p>
            <div class="s__btn-center-wrap s__btn-wrap">
                <button class="s__btn s__btn-sm s__btn-main">SMALL</button>
                <button class="s__btn s__btn-main">NOMAL</button>
                <button class="s__btn s__btn-lg s__btn-main">LARGE</button>
            </div>
            <p>정렬</p>
            <div class="s__btn-left-wrap s__btn-wrap">
                <button class="s__btn s__btn-main">MAIN</button>
                <button class="s__btn s__btn-red">RED</button>
                <button class="s__btn s__btn-line">LINE</button>
                <button class="s__btn s__btn-main" disabled>DISABLED</button>
            </div>
            <div class="s__btn-center-wrap s__btn-wrap">
                <button class="s__btn s__btn-main">MAIN</button>
                <button class="s__btn s__btn-red">RED</button>
                <button class="s__btn s__btn-line">LINE</button>
                <button class="s__btn s__btn-main" disabled>DISABLED</button>
            </div>
            <div class="s__btn-right-wrap s__btn-wrap">
                <button class="s__btn s__btn-main">MAIN</button>
                <button class="s__btn s__btn-red">RED</button>
                <button class="s__btn s__btn-line">LINE</button>
                <button class="s__btn s__btn-main" disabled>DISABLED</button>
            </div>
            <div class="s__btn-between-wrap s__btn-wrap">
                <div>
                    <button class="s__btn s__btn-main">MAIN</button>
                    <button class="s__btn s__btn-red">RED</button>
                </div>
                <div>
                    <button class="s__btn s__btn-line">LINE</button>
                    <button class="s__btn s__btn-main" disabled>DISABLED</button>
                </div>
            </div>
            <div class="s__btn-row-wrap s__btn-wrap">
                <button class="s__btn s__btn-main">MAIN</button>
                <button class="s__btn s__btn-red">RED</button>
                <button class="s__btn s__btn-line">LINE</button>
                <button class="s__btn s__btn-main" disabled>DISABLED</button>
            </div>
        </div>
    </div>
    <script src="../js/main.js"></script>
</body>

</html>